body {
    background-color: #061639;
}
.h1 {
    font-size: 66 px;
    text-align: center;
    color: #246D5F;
    font-family: 'Notable', sans-serif;
}
.h2{
    font-size: 44 px;
    text-align: center;
    color: #1C4A00;
    font-family: 'Notable', sans-serif;

}
.body{
    max-width: 700px;
    margin: auto;
    background-color:#6DA398;
}
.body-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.6;
}
.grid-container{
    display: grid;
    background-color: #061639;
    grid-template-columns: auto auto auto;
    padding: 15px;
}
.grid-item{
    background-color: #152B55;
    align-self: center;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    border-spacing: 3px solid #152B55;
    color: #6DA398;   
}
.image-float-left{
    float: left;
    padding: 14px;
}
.image-float-right{
    float: right;
    padding: 14px;
}
a:link {
    color: #246D5F; 
    background-color: transparent; 
    text-decoration: none;
}
a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}